@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0; }

@keyframes caida {
  0% {
    transform: translateY(-500px); }
  100% {
    transform: translateY(0px); } }

/* RESPONSIVE */
/* Smartphone */
@media (max-width: 481px) {
  #grid {
    display: grid;
    grid-template-areas: " header" " nav" " propaganda" " productos" " footer";
    grid-template-columns: 1fr 8fr; }
  section#productos {
    justify-content: center; }
  nav {
    position: relative; }
  .menu {
    font-size: 15px; }
  section#busqueda {
    display: none; }
  #carouselExampleIndicators {
    display: none; }
  .gridHeader {
    grid-area: header;
    border: solid black 1px;
    display: grid;
    grid-template-areas: "logo buscar perfil";
    justify-content: space-between;
    width: 100%; }
  .imgLogo {
    height: 3em; } }

/* TABLET */
@media (min-width: 482px) and (max-width: 768px) {
  nav {
    position: static; }
  .menu {
    font-size: 20px; }
  section#productos {
    justify-content: center; }
  section#busqueda {
    display: none; }
  #carouselExampleIndicators {
    display: none; } }

/* TABLET APAISADA */
#menuToggle {
  display: block;
  position: relative;
  left: 35px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover li:hover {
  color: black;
  text-decoration: underline;
  background-color: #e374745c;
  border-radius: 10px;
  width: 98px;
  height: 54px;
  position: relative; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
  * Just a quick hamburger
  */
#menuToggle i {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  text-shadow: 0px 2px 3px #000000; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ i {
  color: #ededed; }

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 14em;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none; }

/* estilos generales */
body {
  background-color: #ffffff;
  font-family: 'Playfair Display', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  body .gridHeader {
    grid-area: header;
    border: solid black 1px;
    display: grid;
    grid-template-areas: "hamburguer logo buscar perfil carrito";
    grid-template-columns: 0.7fr 1fr 6fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #e92d53;
    width: 100%;
    position: sticky;
    top: 1px;
    z-index: 3; }
    body .gridHeader .imgLogo {
      height: 5em;
      animation-name: caida;
      animation-duration: 2s; }
    body .gridHeader .hamburguer {
      grid-area: hamburguer; }
    body .gridHeader .logo {
      grid-area: logo;
      margin: 15px; }
    body .gridHeader .buscar {
      grid-area: buscar; }
      body .gridHeader .buscar .buscarFlex {
        display: flex; }
        body .gridHeader .buscar .buscarFlex button {
          height: 3em;
          width: 3em;
          margin: 0px;
          background-color: white;
          border: none;
          border-radius: 0 10px 10px 0;
          border-left: none; }
        body .gridHeader .buscar .buscarFlex .busqueda {
          position: relative;
          height: 3em;
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 10px 0 0 10px;
          border-right: none; }
        body .gridHeader .buscar .buscarFlex .buscarImg {
          height: 2em; }
    body .gridHeader .perfil {
      grid-area: perfil;
      padding-left: 25px; }
      body .gridHeader .perfil a {
        color: white;
        text-shadow: 0px 2px 3px #000000; }
    body .gridHeader .carrito {
      grid-area: carrito;
      padding-left: 15px; }
      body .gridHeader .carrito a {
        color: white;
        text-shadow: 0px 2px 3px #000000; }
  body #grid {
    display: grid;
    grid-template-areas: "header" "propaganda" "productos" "footer"; }
  body section.productos {
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between; }
  body #gridCarrito {
    display: grid;
    grid-template-areas: "header" "nav" "compra" "footer"; }
    body #gridCarrito .gridCompra {
      grid-area: compra;
      padding-left: 5%; }
  body #gridPerfil {
    display: grid;
    grid-template-areas: "header" "nav" "usuario" "footer"; }
    body #gridPerfil .propaganda {
      grid-area: propaganda; }
    body #gridPerfil .gridUsuario {
      grid-area: usuario;
      height: 20em; }
    body #gridPerfil .bordered {
      display: inline-block;
      padding: 0.5%;
      border: solid black 1px; }
    body #gridPerfil .fotoPerfil {
      height: 20%;
      transition: all 0.6s; }
      body #gridPerfil .fotoPerfil:hover {
        height: 40%;
        background-color: green;
        position: relative; }
  body .imgProducto {
    height: 7em; }
  body .carouselEjemplo {
    width: 100%; }
  body a:hover {
    color: blue; }

#gridContacto {
  display: grid;
  grid-template-areas: "header header" "redes form " "footer footer"; }
  #gridContacto .gridRedes {
    grid-area: redes;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    justify-items: center;
    padding: 15px;
    flex-direction: column; }
    #gridContacto .gridRedes span.mensaje {
      text-align: justify;
      text-justify: inter-word;
      font-size: x-large; }
    #gridContacto .gridRedes span.logosRedes {
      display: flex;
      flex-direction: column;
      align-content: space-between; }
      #gridContacto .gridRedes span.logosRedes a {
        text-decoration: none;
        color: #000000; }
        #gridContacto .gridRedes span.logosRedes a:hover {
          color: blue;
          text-decoration: underline; }
      #gridContacto .gridRedes span.logosRedes .textoRedes {
        padding: 10px;
        font-size: xx-large;
        font-weight: 100; }
  #gridContacto .formContacto {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 75px;
    justify-content: space-around; }
    #gridContacto .formContacto .formWrap {
      display: grid;
      grid-template-areas: "nombre mail" "mensaje mensaje" "boton boton";
      grid-template-columns: 1fr, 1fr; }
      #gridContacto .formContacto .formWrap #name {
        grid-area: nombre; }
      #gridContacto .formContacto .formWrap #mail {
        grid-area: mail; }
      #gridContacto .formContacto .formWrap #message {
        grid-area: mensaje; }
      #gridContacto .formContacto .formWrap button {
        grid-area: boton; }
    #gridContacto .formContacto input, #gridContacto .formContacto select, #gridContacto .formContacto optgroup, #gridContacto .formContacto textarea {
      margin: 5px;
      border: 0px;
      border-radius: 5px;
      box-shadow: 0px 1px 1px 1px #535252; }
    #gridContacto .formContacto button {
      color: black;
      background-color: #ffdde4;
      margin: 5px; }

footer {
  display: grid;
  grid-area: footer;
  background-color: #bf2948;
  grid-template-areas: "logo redes formulario links";
  grid-template-columns: 1fr 2fr 4fr 2fr;
  justify-content: space-evenly;
  width: 100%;
  justify-items: start;
  align-items: center;
  bottom: 0px;
  margin-top: 16px; }
  footer .imgLogo {
    height: 5em;
    margin-left: 7px;
    border: solid black 2px; }
  footer .redes {
    grid-area: redes; }
    footer .redes a {
      color: white; }
      footer .redes a:hover {
        color: blue; }
  footer .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 75px;
    justify-content: space-around; }
    footer .formulario .formWrap {
      display: grid;
      grid-template-areas: "nombre mail" "mensaje mensaje" "boton boton";
      grid-template-columns: 1fr, 1fr; }
      footer .formulario .formWrap #name {
        grid-area: nombre; }
      footer .formulario .formWrap #mail {
        grid-area: mail; }
      footer .formulario .formWrap #message {
        grid-area: mensaje; }
      footer .formulario .formWrap button {
        grid-area: boton;
        border: 1px solid #141313;
        border-radius: 5px; }
        footer .formulario .formWrap button:hover {
          text-decoration: underline;
          background-color: #d18e9a; }
    footer .formulario input, footer .formulario select, footer .formulario optgroup, footer .formulario textarea {
      margin: 5px;
      border: 0px;
      border-radius: 5px;
      box-shadow: 0px 1px 1px 1px #535252; }
    footer .formulario button {
      color: black;
      background-color: #ffdde4;
      margin: 5px; }
  footer .links {
    grid-area: links; }
    footer .links a {
      color: #ffffff;
      text-decoration: none; }
      footer .links a:hover {
        color: blue;
        text-decoration: underline; }

.gridPerfil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .gridPerfil .wrapDatos {
    display: block;
    background-color: #ffbebe80;
    width: 60em;
    margin: 10px;
    padding: 20px; }
    .gridPerfil .wrapDatos button {
      background-color: #ffffff00;
      border: none; }
      .gridPerfil .wrapDatos button:hover {
        color: blue; }
    .gridPerfil .wrapDatos .titulo {
      display: flex;
      justify-content: space-between;
      margin-top: 14px;
      font-size: 23px;
      font-weight: 1000; }
    .gridPerfil .wrapDatos .item {
      font-size: 16px;
      color: blue;
      font-weight: 500; }
      .gridPerfil .wrapDatos .item.derecha {
        color: black; }
    .gridPerfil .wrapDatos .itemWrap {
      display: flex;
      font-size: 14px;
      margin: 0 0 15px;
      justify-content: space-between; }
    .gridPerfil .wrapDatos .derecha {
      text-align: right; }

.gridCompra .compra {
  display: flex;
  justify-content: space-between;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 16px;
  border-bottom: solid 1px #eaeaea; }
  .gridCompra .compra .imgCompra {
    height: 10em; }
  .gridCompra .compra .texto {
    display: flex;
    width: 20%;
    font-size: 28px;
    align-items: center;
    justify-content: flex-end; }

.gridCompra .categoria {
  color: blue; }

.gridCompra .final {
  font-size: 30px; }

.gridCompra .finCompra {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 21px;
  margin: 2em;
  flex-direction: column; }
  .gridCompra .finCompra .wrapCompra {
    display: flex;
    width: 30%;
    justify-content: space-between; }
  .gridCompra .finCompra .wrapBotones button {
    height: 10%;
    background-color: #eaeaea00;
    border: solid 2px #a5a5a5;
    color: #bf2948;
    padding: 7px;
    margin-top: 9px;
    margin-right: -3px;
    border-radius: 10px; }
    .gridCompra .finCompra .wrapBotones button a {
      color: inherit;
      text-decoration: none; }
    .gridCompra .finCompra .wrapBotones button:hover {
      background-color: #7472725e;
      text-decoration: underline; }
    .gridCompra .finCompra .wrapBotones button.finalizar {
      background-color: #bf2948;
      color: #eaeaea;
      margin-left: 5px;
      border: 0px; }
      .gridCompra .finCompra .wrapBotones button.finalizar:hover {
        background-color: #7e1c30;
        text-decoration: underline; }
