@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0; }

@keyframes caida {
  0% {
    transform: translateY(-500px); }
  100% {
    transform: translateY(0px); } }

/* RESPONSIVE */
/* Smartphone */
@media (max-width: 481px) {
  #grid {
    display: grid;
    grid-template-areas: " header" " nav" " propaganda" " productos" " footer";
    grid-template-columns: 1fr 8fr; }
  section#productos {
    justify-content: center; }
  nav {
    position: relative; }
  .menu {
    font-size: 15px; }
  section#busqueda {
    display: none; }
  #carouselExampleIndicators {
    display: none; }
  .gridHeader {
    grid-area: header;
    border: solid black 1px;
    display: grid;
    grid-template-areas: "logo buscar perfil";
    justify-content: space-between;
    width: 100%; }
  .imgLogo {
    height: 3em; } }

/* TABLET */
@media (min-width: 482px) and (max-width: 768px) {
  nav {
    position: static; }
  .menu {
    font-size: 20px; }
  section#productos {
    justify-content: center; }
  section#busqueda {
    display: none; }
  #carouselExampleIndicators {
    display: none; } }

/* TABLET APAISADA */
#menuToggle {
  display: block;
  position: relative;
  left: 35px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: tomato; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
  * Just a quick hamburger
  */
#menuToggle i {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  text-shadow: 0px 2px 3px #000000; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ i {
  color: #ededed; }

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 14em;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: none; }

/* estilos generales */
body {
  background-color: #ffffff;
  font-family: 'Playfair Display', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  body #grid {
    display: grid;
    grid-template-areas: "header" "propaganda" "productos" "footer"; }
  body .gridHeader {
    grid-area: header;
    border: solid black 1px;
    display: grid;
    grid-template-areas: "hamburguer logo buscar perfil carrito";
    grid-template-columns: 0.7fr 1fr 6fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    background-color: #e92d53;
    width: 100%;
    position: sticky;
    top: 1px;
    z-index: 3; }
    body .gridHeader .imgLogo {
      height: 5em;
      animation-name: caida;
      animation-duration: 2s; }
    body .gridHeader .hamburguer {
      grid-area: hamburguer; }
    body .gridHeader .logo {
      grid-area: logo;
      margin: 15px; }
    body .gridHeader .buscar {
      grid-area: buscar; }
      body .gridHeader .buscar .buscarFlex {
        display: flex; }
        body .gridHeader .buscar .buscarFlex button {
          height: 3em;
          width: 3em;
          margin: 0px;
          background-color: white;
          border: none;
          border-radius: 0 10px 10px 0;
          border-left: none; }
        body .gridHeader .buscar .buscarFlex .busqueda {
          position: relative;
          height: 3em;
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 10px 0 0 10px;
          border-right: none; }
        body .gridHeader .buscar .buscarFlex .buscarImg {
          height: 2em; }
    body .gridHeader .perfil {
      grid-area: perfil;
      padding-left: 25px; }
      body .gridHeader .perfil a {
        color: white;
        text-shadow: 0px 2px 3px #000000; }
    body .gridHeader .carrito {
      grid-area: carrito;
      padding-left: 15px; }
      body .gridHeader .carrito a {
        color: white;
        text-shadow: 0px 2px 3px #000000; }
  body section#productos {
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-between; }
  body #gridContacto {
    display: grid;
    background-color: black;
    grid-template-areas: "header header" "nav nav " "redes form " "footer footer";
    grid-template-columns: 1fr 1fr; }
    body #gridContacto .gridRedes {
      grid-area: redes;
      display: flex;
      align-content: space-around;
      justify-content: space-around;
      align-items: center;
      justify-items: center;
      padding: 50px; }
      body #gridContacto .gridRedes .imgRed {
        height: 2em;
        width: 2em; }
    body #gridContacto .gridForm {
      grid-area: form;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-between;
      padding: 50px; }
  body #gridCarrito {
    display: grid;
    grid-template-areas: "header" "nav" "compra" "footer"; }
    body #gridCarrito .gridCompra {
      grid-area: compra;
      padding-left: 5%; }
  body #gridPerfil {
    display: grid;
    grid-template-areas: "header" "nav" "usuario" "footer"; }
    body #gridPerfil .propaganda {
      grid-area: propaganda; }
    body #gridPerfil .gridUsuario {
      grid-area: usuario;
      height: 20em; }
    body #gridPerfil .bordered {
      display: inline-block;
      padding: 0.5%;
      border: solid black 1px; }
    body #gridPerfil .fotoPerfil {
      height: 20%;
      transition: all 0.6s; }
      body #gridPerfil .fotoPerfil:hover {
        height: 40%;
        background-color: green;
        position: relative; }
  body .imgProducto {
    height: 7em; }
  body .carouselEjemplo {
    width: 100%; }
  body footer {
    display: grid;
    grid-area: footer;
    background-color: #ffdde4;
    grid-template-areas: "redes mapa links";
    grid-template-columns: 2fr 4fr 2fr;
    justify-content: space-between;
    align-items: center; }
    body footer .redes {
      grid-area: redes; }
      body footer .redes .imgRed {
        height: 2em;
        width: 2em; }
    body footer .mapa {
      grid-area: mapa; }
    body footer .links {
      grid-area: links; }
  body a:hover {
    color: blue; }
