*{
    margin: 0;
    padding: 0;
}

/* estilos generales */

body{
    background-color: #4DA85E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    position: sticky;
    top: 1px;
}
.menu{
    background-color: rgb(252, 0, 0);
    font-size: 30px;
    border: solid black 3px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 .imgLogo{
     height: 100px;
 }
.propaganda{
    width: 100%;
    height: 300px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap__producto{
    border: solid 2px black;
    display: flex;
    margin: 10px ;
    padding: 10px;
    align-items: center;
}



.imgRed{
    height: 2em;
    width: 2em;
}


/* GRID */
#grid {
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "propaganda propaganda"
    "busqueda productos"
    "footer footer";
    grid-template-columns: 1fr 8fr;
}

.gridHeader {
    grid-area: header;
    border: solid black 1px;
    display: grid;
    grid-template-areas: 
    "logo buscar perfil";
    justify-content: space-between;
    background-color: #F03255;
    width: 100%;
}


nav{
    grid-area: nav;
}

section#productos{
    grid-area: productos;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}

section#busqueda{
    grid-area: busqueda;

}
section#propaganda{
    grid-area: propaganda;
}

footer{
    display: grid;
    grid-area: footer;
    background-color: #FFC2CD ;
    grid-template-areas: 
    "redes mapa links"
    ;
    grid-template-columns: 2fr 4fr 2fr;
    justify-content: space-between;
    align-items: center;
}


.redes{
    grid-area: redes;
}

.mapa{
    grid-area: mapa;
}

.links{
    grid-area: links;
}

/* RESPONSIVE */

/* Smartphone */

@media (max-width: 481px) and (max-width: 1023px) {
    #grid {
        display: grid;
        grid-template-areas: 
        " header"
        " nav"
        " propaganda"
        " productos"
        " footer";
        grid-template-columns: 1fr 8fr;
    }
    nav{
        position: relative;
    }
    .menu{
        font-size: 15px;
    }
    section#busqueda{
        display: none;
    
    }

    .gridHeader {
        grid-area: header;
        border: solid black 1px;
        display: grid;
        grid-template-areas: 
        "logo buscar perfil";
        justify-content: space-between;
        background-color: #ff0644;
        width: 100%;
    }
    .imgLogo{
        height: 3em;
    }
    body{
        background-color: blue;
    }
}