  /* RESPONSIVE */
    
    /* Smartphone */
    
    @media (max-width: 481px)  {
        #grid {
            display: grid;
        grid-template-areas: 
        " header"
        " nav"
        " propaganda"
        " productos"
        " footer";
        grid-template-columns: 1fr 8fr;
    }
    section#productos{
        justify-content: center;
    }

    nav{
        position: relative;
    }
    .menu{
        font-size: 15px;
    }
    section#busqueda{
        display: none;
    
    }
    #carouselExampleIndicators{
        display: none;
    }
    .gridHeader {
        grid-area: header;
        border: solid black 1px;
        display: grid;
        grid-template-areas: 
        "logo buscar perfil";
        justify-content: space-between;
        background-color: #ff0644;
        width: 100%;
    }
    .imgLogo{
        height: 3em;
    }
    body{
        background-color: blue;
    }
}

/* TABLET */
@media (min-width: 482px) and (max-width: 768px) {
    body{
        background-color: purple;
    }
    nav{
        position: static;
    }
    .menu{
        background-color: brown;
        font-size: 20px;
    }
    section#productos{
        justify-content: center;
    }
    section#busqueda{
        display: none;
        
    }
    #carouselExampleIndicators{
        display: none;
    }
}

/* TABLET APAISADA */

@media (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
    body{
        background-color: brown;
    }
}
