*{
    margin: 0;
    padding: 0;
}


@import "animaciones";
@import "responsive";
@import "hamburger";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* estilos generales */

body{
    background-color: #ffffff;
    font-family: 'Playfair Display', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    #grid {
        display: grid;
        grid-template-areas: 
        "header"
        "propaganda"
        "productos"
        "footer";
    }
    .gridHeader {
        grid-area: header;
        border: solid black 1px;
        display: grid;
        grid-template-areas: 
        "hamburguer logo buscar perfil carrito";
        grid-template-columns: 0.7fr 1fr 6fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        background-color: #e92d53;
        width: 100%;
        position: sticky;
        top: 1px;
        z-index: 3;
        .imgLogo{
            height: 5em;
            animation-name: caida;
           animation-duration: 2s;
                }
        .hamburguer{
            grid-area: hamburguer;
        }
        .logo{
            grid-area: logo;
            margin: 15px;
            }
        .buscar{
            grid-area: buscar;
            .buscarFlex{
                display: flex;
            button{
                height: 3em;
                width: 3em;
                margin: 0px;
                background-color: white;
                border: none;
                border-radius: 0 10px 10px 0;
                border-left: none;
            }
            .busqueda{
                position: relative;
                height: 3em;
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 10px 0 0 10px;
                border-right: none;
                    }
            .buscarImg{
                height: 2em;
                    }
        
        }
        }
        .perfil{
            grid-area: perfil;
            padding-left: 25px;
            a{
                color: white;
                text-shadow: 0px 2px 3px #000000;
            }
        }
        .carrito{
            grid-area: carrito;
            padding-left: 15px;
            a{
                color: white;
                text-shadow: 0px 2px 3px #000000;
            }
            } 
        }

    section#productos{
        grid-area: productos;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        align-content: space-around;
        justify-content: space-between;
    } 
    #gridContacto {
        display: grid;
        background-color: black;
        grid-template-areas: 
        "header header"
        "nav nav "
        "redes form "
        "footer footer";
        grid-template-columns: 1fr 1fr;
        .gridRedes{
            grid-area: redes;
            display: flex;
            align-content: space-around;
            justify-content: space-around;
            align-items: center;
            justify-items: center;
            padding: 50px;
            .imgRed{
                height: 2em;
                width: 2em;
            }
         }
        .gridForm{
            grid-area: form;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: space-between;
            padding: 50px;
            }
            
    }
    #gridCarrito{
            display: grid;
            grid-template-areas: 
            "header"
            "nav"
            "compra"
            "footer";
            .gridCompra{
                grid-area: compra;
                padding-left: 5%;
            }
        }
    #gridPerfil{
            display: grid;
            grid-template-areas: 
            "header"
            "nav"
            "usuario"
            "footer";
            .propaganda{
                grid-area: propaganda;
            }
            .gridUsuario{
                grid-area: usuario;
                height: 20em;
            }
            .bordered{
                display: inline-block;
                padding: 0.5%;
                border: solid black 1px;
            }
            .fotoPerfil{
                height: 20%;
                transition: all 0.6s;
                &:hover{
                    height: 40%;
                    background-color: green;
                    position: relative ;
                }
                
            }
        }
    .imgProducto{
        height: 7em;
    }
           
    .carouselEjemplo{
    width: 100%;
    }
    footer{
        display: grid;
        grid-area: footer;
        background-color: #ffdde4 ;
        grid-template-areas: 
        "redes mapa links"
        ;
        grid-template-columns: 2fr 4fr 2fr;
        justify-content: space-between;
        align-items: center;
        .redes{
            grid-area: redes;
            .imgRed{
                height: 2em;
                width: 2em;
            }
        }
        .mapa{
        grid-area: mapa;
        }
        .links{
            grid-area: links;
        }
    
    }
    a:hover{
        color: blue;
    }
    
}








